# Translating `pandas.Index` types

The `attribute` argument may be used to translate a member variable instead.

**NOTE**: For convenience, we'll use a dummy fetcher used [for testing](https://github.com/rsundqvist/rics/blob/master/src/rics/translation/testing.py) to generate translation data instead of fetching real translations. Generated data is on the form `<placeholder-name>-of-<id>`, eg `'placeholder0-of-id0'`. Since we use the `'{x}, {y}'` translation format, all translated values will take form `'x-of-<id>, y-of-<id>'`.

In [1]:
from id_translation import Translator

NAMES_TO_TRANSLATE = "name"
translate = Translator(fmt="{x}, {y}").translate

/tmp/ipykernel_9034/2794026548.py:4: UserWarning: No fetcher given. Translation data will be automatically generated.
  translate = Translator(fmt="{x}, {y}").translate

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    data=[["00", "01", "02", "03"], ["10", "11", "12", "13"], ["20", "21", "22", "23"]],
    columns=[f"col{i}" for i in range(4)],
    index=[f"idx{i}" for i in range(3)],
)
df.index.name = NAMES_TO_TRANSLATE
s = df.col0
df

     col0 col1 col2 col3
name
idx0   00   01   02   03
idx1   10   11   12   13
idx2   20   21   22   23

In [4]:
translate(df, inplace=True)
translate(df, attribute="columns")  # Returns df after overwriting df.columns
translate(df, attribute="index")  # Returns df after overwriting df.index

,"x-of-col0, y-of-col0","x-of-col1, y-of-col1","x-of-col2, y-of-col2","x-of-col3, y-of-col3"
name,,,,
"x-of-idx0, y-of-idx0","x-of-00, y-of-00","x-of-01, y-of-01","x-of-02, y-of-02","x-of-03, y-of-03"
"x-of-idx1, y-of-idx1","x-of-10, y-of-10","x-of-11, y-of-11","x-of-12, y-of-12","x-of-13, y-of-13"
"x-of-idx2, y-of-idx2","x-of-20, y-of-20","x-of-21, y-of-21","x-of-22, y-of-22","x-of-23, y-of-23"

In [5]:
translate(s, inplace=True)
translate(s, attribute="index")

name
x-of-idx0, y-of-idx0    x-of-00, y-of-00
x-of-idx1, y-of-idx1    x-of-10, y-of-10
x-of-idx2, y-of-idx2    x-of-20, y-of-20
Name: col0, dtype: object